 


<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
<div class="p-grid" style="display: block;  padding: 10px">
    <p-toolbar>
        <div class="p-col-4 ui-toolbar-group-left">
            <table>

          <tr>
           
        
       
            <td>

          
            <div class="ui-inputgroup">
                
                <label style="margin-left:10px; margin-top: 5px;margin-right: 5px;"> Select Sprint: </label>
                <p-dropdown [options]="sprints" [(ngModel)]="selectedsprint" [virtualScroll]="true"
                    [panelStyle]="{minWidth:'30em'}">
                </p-dropdown>

                
            </div>
        </td>
        <td>
            <div class="p-col-8 ui-toolbar-group-right">
            
                <button pButton type="button"  icon="pi pi-search" (click)="populate_charts()"
                
                ></button>  
                
               
            </div>
            

        </td>
        <div class="p-col-8 ui-toolbar-group-right">
            <button pButton type="button" icon="pi pi-times" class="ui-button-danger"(click)="clear_data()"></button>
        </div>
    </tr>
        </table>
        </div>
       
    </p-toolbar>
    <div class="container">
        <table class="table" #table *ngIf="is_visible">
        
      
  

            <tr>
               
                <td >
                     
                    <p-chart type="pie" [data]="data" [options]="pieOptions"></p-chart>
                
                
                </td>
                
                <td>
                    
                    <p-chart type="pie" [data]="data2" [options]="pieOptions2"></p-chart></td>
                
              
               
            </tr>
          
            
            <tr>
                
                <td>
                    
                    <p-chart type="pie" [data]="data7" [options]="pieOptions7"></p-chart>
                </td>
                <td>
                    
                    <p-chart type="pie" [data]="data4" [options]="pieOptions4"></p-chart></td>
                
             
               
            
               
            </tr>
            <tr>
                
               <Td>
                <p-table >
         
                    <ng-template pTemplate="header">
                        <tr> 
                           
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        
                        <tr>
                            
                            
                            
                        </tr>
                    </ng-template>
                </p-table>


            </Td>
            <Td>
                <p-table >
         
                    <ng-template pTemplate="header">
                        <tr> 
                           

                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-AllData3>
                        
                        <tr>
                           
                            
                            
                        </tr>
                    </ng-template>
                </p-table>


            </Td>
            
               
            </tr>
            <tr>
                <td  colspan="1">
                   
                    <p-chart type="pie" [data]="data6"[options]="pieOptions6" ></p-chart>
    
    
                </td>
                <td  colspan="3">
                   
                    <p-chart type="pie" [data]="data3" [options]="pieOptions3"></p-chart>
    
    
                </td>
    
                </tr>
            <tr>
                <tr>
                    <td  colspan="1">
                        
                        <p-chart type="pie" [data]="data8" [options]="pieOptions8"></p-chart>
        
        
                    </td>
                    <td  colspan="3">
                      
                        <p-chart type="pie" [data]="data9" [options]="pieOptions9"></p-chart>
        
        
                    </td>
        
        
                    </tr>
                <tr>
               
                <td colspan="3">
                <p-chart type="bar" [data]="graphData"  [options]="pieOptions10"></p-chart>
            </td>
            </tr>

            
        </table>

    </div>
  

</div>

