<div class="p-grid sample-layout">
    <div class="p-col-12 p-md-2" style="display: block;background-color: #e74c3c; text-align: center;color:#ecf0f1">
        <h3 class="w3-bar-item" style="margin-top: 25px !important;">S&P Global</h3>
        <hr>
     
     
        <a (click)="navigateTo('bug')" class="w3-bar-item w3-button" style="display: block;"><i
                    class="pi pi-user"></i>&nbsp;&nbsp; Bug Analysis Data</a>
       
        <a (click)="navigateTo('BddCovered')" class="w3-bar-item w3-button" style="display: block;"><i
                    class="pi pi-user"></i>&nbsp;&nbsp; BDD Covered Bugs</a>
                 
        <a (click)="navigateTo('bugcharts')" class="w3-bar-item w3-button" style="display: block;"><i
                    class="pi pi-user"></i>&nbsp;&nbsp; Bugs Charts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    
        <a (click)="navigateTo('RCA')" class="w3-bar-item w3-button" style="display: block;"><i
                 class="pi pi-user"></i>&nbsp;&nbsp; RCA Matix&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <div class="p-col-12 p-md-10  p-col-nogutter" style="display: block;">
        <div class="p-col-12 p-col-nogutter" style="background-color:#2c3e50;color:#ecf0f1;  padding: 5px;">
            <h1 style="margin-top: 25px !important;">Graph Data</h1>
        </div>
        <div class="p-col-12" style="background-color: #95a5a6;">
            <router-outlet></router-outlet>
        </div>
        <div class="p-col-12">
            S&P Global QE Department
        </div>
    </div>
</div>