<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>

<div class="p-grid" style="display: block;  padding: 5px">
    <p-toolbar>
        <div class="p-col-4 ui-toolbar-group-left">
            <div class="ui-inputgroup">
                
                <label style="margin-left:10px; margin-top: 5px;margin-right: 5px;"> Select Team: </label>
                <p-dropdown [options]="teamname" [(ngModel)]="selectedteams" [virtualScroll]="true"
                    [panelStyle]="{minWidth:'30em'}">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-8 ui-toolbar-group-right">
            <button pButton type="button"  icon="pi pi-search" (click)="populate_bug_data()"
            
            ></button> &nbsp;&nbsp;
            
            <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
        </div>
        
    </p-toolbar>
    
    <div class="container">
        <table class="table" #table>
        
      
            
    <p-table [value]="testdata" *ngIf="is_visible" >
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
    
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
               
            </div>
        </ng-template>
        
        <ng-template pTemplate="header"  >
            <tr> 
                <th>Role</th>
                <th>Created By</th>
                <th>Total Bugs</th>
                <th>Total Fixed</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>As Designed/Wont Fix</th>
                <th>Cannot Reproduce</th>
                <th>Active/New</th>
           

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-testdata>
            
            <tr>
                <td>{{testdata.role}}</td>
                <td>{{testdata.createdby}}</td>
                <td>{{testdata.str_total_bugs}}</td>
                <td>{{testdata.str_total_fixed}}</td>
                <td>{{testdata.str_P1}}</td>
                <td>{{testdata.str_P2}}</td>
                <td>{{testdata.str_P3}}</td>
                <td>{{testdata.str_total_as_designed}}</td>
                <td>{{testdata.str_can_reproduce_bugs}}</td>
                <td>{{testdata.str_total_active}}</td>
              
            </tr>
        </ng-template>
    </p-table>
    <p-table [value]="pm_bugs_kosher" [resizableColumns]="true" *ngIf="testdata.length==0 && is_visible">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> Team wise summary</th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No Data To Display</th>
            
            </tr>
        </ng-template>
        
       
    </p-table>
    <p-table [value]="BUGS_Total" *ngIf="testdata.length>0">
        
        <ng-template pTemplate="header">
            
            <tr>
                <th colspan="3">QA Bugs</th>
                <th colspan="3">PM Bugs</th>
                <th colspan="3">UAT Bugs</th>
                <th colspan="3">Other Bugs</th>
    
            </tr>
            <tr>
                <th>Total</th>
                <th>Percentage</th>
                <th>Valid Bugs</th>
                <th>Total</th>
                <th>Percentage</th>
                <th>Valid Bugs</th>
                <th>Total</th>
                <th>Percentage</th>
                <th>Valid Bugs</th>

                <th>Total</th>
                <th>Percentage</th>
                <th>Valid Bugs</th>
               
            </tr>
          
        </ng-template>
        
        <ng-template pTemplate="body" let-BUGS_Total>
            
            <tr>
                <td>{{BUGS_Total.total_qa_bugs}}</td>
                <td>{{BUGS_Total.qa_perc}}</td>
                <td>{{BUGS_Total.valid_qa_perc}}</td>
            
                <td>{{BUGS_Total.str_total_pm_bugs}}</td>
                <td>{{BUGS_Total.pm_perc}}</td>
                <td>{{BUGS_Total.valid_pm_perc}}</td>


            
                <td>{{BUGS_Total.str_total_uat_bugs}}</td>
                <td>{{BUGS_Total.uat_perc}}</td>
                <td>{{BUGS_Total.valid_uat_perc}}</td>

                <td>{{BUGS_Total.other_total}}</td>
                <td>{{BUGS_Total.other_perc}}</td>
                <td>{{BUGS_Total.other_valid_perc}}</td>

                 
                </tr>
                
            
        </ng-template>
    </p-table>

    <p-table [value]="pm_bugs_kosher" [resizableColumns]="true" *ngIf="pm_bugs_kosher.length>0">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> PM / UAT / Others - Fixed P1 and P2 Bugs</th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Bug ID</th>
                <th>koshers</th>
                <th>resolved-reason</th>
                <th>Comments</th>
                <th [style]="{width:'auto'}">Comments <button id="disabled-btn"   pButton icon="pi pi-pencil" type="button" (click)="toggleDisabled()"></button></th>
                <th>Click on Save Button After Changes</th>
            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pm_bugs_kosher>
            <tr>
                <td class="ui-resizable-column">{{pm_bugs_kosher.bug_id}}</td>
                <td class="ui-resizable-column">{{pm_bugs_kosher.koshers}}</td>
                <td class="ui-resizable-column">{{pm_bugs_kosher.resolvedreason}}</td>
                <td class="ui-resizable-column">{{pm_bugs_kosher.comments}}</td>
                 
                <td class="ui-resizable-column"> <input type="text" id="disabled-input" pInputText [disabled]="disabled" pInputText placeholder="Comment" [(ngModel)]='pm_bugs_kosher.comments'> </td>   
             
                <td><button id="disabled-btn" type="button" (click)="Save_Comments(pm_bugs_kosher.bug_id,pm_bugs_kosher.comments)" pButton label="Save"></button> </td>

              
            </tr>
        </ng-template>
    </p-table>
    <p-table [value]="pm_bugs_kosher" [resizableColumns]="true" *ngIf="pm_bugs_kosher.length==0 && is_visible">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> PM / UAT / Others - Fixed P1 and P2 Bugs</th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No Data To Display</th>
            
            </tr>
        </ng-template>
        
       
    </p-table>
    <p-table [value]="qa_bugs_kosher" *ngIf="qa_bugs_kosher.length>0">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> QA - Fixed Bugs </th>
               
    
            </tr>
           
        
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Bug ID</th>
                <th>koshers</th>
                <th>resolved-reason</th>
                <th>Comments</th>
                <th [style]="{width:'auto'}">Comments <button id="disabled-btn"   pButton icon="pi pi-pencil" type="button" (click)="toggleDisabled()"></button></th>
                <th>Click on Save Button After Changes</th>
          
                 

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-qa_bugs_kosher>
            <tr>
                <td>{{qa_bugs_kosher.bug_id}}</td>
                <td>{{qa_bugs_kosher.koshers}}</td>
                <td>{{qa_bugs_kosher.resolvedreason}}</td>
                <td class="ui-resizable-column">{{qa_bugs_kosher.comments}}</td>
                <td class="ui-resizable-column"> <input type="text" id="disabled-input" pInputText [disabled]="disabled" pInputText placeholder="Comment" [(ngModel)]='qa_bugs_kosher.comments'> </td>   
           
                <td><button id="disabled-btn" type="button" (click)="Save_Comments(qa_bugs_kosher.bug_id,qa_bugs_kosher.comments)" pButton label="Save"></button> </td>
               
              
            </tr>
        </ng-template>
    </p-table>
    <p-table [value]="qa_bugs_kosher" [resizableColumns]="true" *ngIf="qa_bugs_kosher.length==0 && is_visible">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> QA - Fixed Bugs </th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No Data To Display</th>
            
            </tr>
        </ng-template>
        
       
    </p-table>
    <p-table [value]="qa_non_fixed"  *ngIf="qa_non_fixed.length>0">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> QA - Non-Fixed Bugs (Cannot reproduce /As-designed/ Active/ New/Duplicate/Obselete/Won't fix/Deferred)</th>
               
    
            </tr>
           
        
        </ng-template>
       
        
      
        
      
        <ng-template pTemplate="header">
            <tr>
                <th>Bug ID</th>
                <th>koshers</th>
                <th>resolved-reason</th>
                <th>Comments</th>
                <th [style]="{width:'auto'}">Comments <button id="disabled-btn"   pButton icon="pi pi-pencil" type="button" (click)="toggleDisabled()"></button></th>
                <th>Click on Save Button After Changes</th>
                 
                 

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-qa_non_fixed>
            <tr>
                <td>{{qa_non_fixed.bug_id}}</td>
                <td>{{qa_non_fixed.koshers}}</td>
                <td>{{qa_non_fixed.resolvedreason}}</td>
                <td>{{qa_non_fixed.comments}}</td>
                <td class="ui-resizable-column"> <input type="text" id="disabled-input" pInputText [disabled]="disabled" pInputText placeholder="Comment" [(ngModel)]='qa_non_fixed.comments'> </td>   
                <td><button id="disabled-btn" type="button" (click)="Save_Comments(qa_non_fixed.bug_id,qa_non_fixed.comments)" pButton label="Save"></button> </td>
    
                 
              
            </tr>
        </ng-template>
    
    </p-table>
    <p-table [value]="qa_non_fixed" [resizableColumns]="true" *ngIf="qa_non_fixed.length==0 && is_visible">
        <ng-template pTemplate="caption">
            <tr>
                <th colspan="3"> QA - Non-Fixed Bugs (Cannot reproduce /As-designed/ Active/ New/Duplicate/Obselete/Won't fix/Deferred) </th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No Data To Display</th>
            
            </tr>
        </ng-template>
        
       
    </p-table>
</table>

</div>
</div>