<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>

<div class="p-grid" style="display: block;  padding: 5px">
    <p-toolbar>
        <div class="p-col-4 ui-toolbar-group-left">
            <div class="ui-inputgroup">
                
                <label style="margin-left:10px; margin-top: 5px;margin-right: 5px;"> Select Team: </label>
                <p-dropdown [options]="teamname" [(ngModel)]="selectedteams" [virtualScroll]="true"
                    [panelStyle]="{minWidth:'30em'}">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-8 ui-toolbar-group-right">
            <button pButton type="button"  icon="pi pi-search" (click)="populate_bug_data()"
            
            ></button> &nbsp;&nbsp;
            
            <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
        </div>
        
    </p-toolbar>
    
    <div class="container">
     
      
            
    <p-table [value]="testdata" *ngIf="is_visible"  [scrollable]="true"   >
        <ng-template pTemplate="caption">
          
        </ng-template>
        
        <ng-template pTemplate="header" >
            <tr> 
                <th [style]="{width:'auto'}">ID</th>
                <th [style]="{width:'auto'}">Title</th>
              
                <th [style]="{width:'auto'}">role</th>
                <th [style]="{width:'auto'}">RCA_Category</th>
                <th [style]="{width:'auto'}">How_Bug_was_Found?</th>
                <th [style]="{width:'auto'}">RCA_Comments <button id="disabled-btn"   pButton icon="pi pi-pencil" type="button" (click)="toggleDisabled()"></button></th>
                <th>Click on Save Button After Changes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-testdata>
            
            <tr>
                <td [style]="{width:'auto'}">{{testdata.Bug_ID}}</td>
                <td [style]="{width:'auto'}">{{testdata.Title}}</td>
              
              
                <td [style]="{width:'auto'}">{{testdata.role}}</td>
                
                <td  [style]="{width:'auto'}"><p-dropdown [options]="rca_category" [(ngModel)]="testdata.Bug_RCA_Categeory" placeholder="Select" optionLabel="value" [showClear]="true"
                    [style]="{'width': 'auto'}"></p-dropdown></td>
                <td  [style]="{width:'auto'}"><p-dropdown [options]="rca_category" class="ui-resizable-column" [(ngModel)]="testdata.How_bug_was_found" placeholder="Select" optionLabel="value" [showClear]="true"
                        [style]="{'width': 'auto'}"></p-dropdown></td>
               
                 <td [style]="{width:'auto'}">  

                 <textarea pInputTextarea  id="disabled-input" pInputText [disabled]="disabled" pInputText placeholder="Comment" [(ngModel)]='testdata.kosher_scenario'></textarea></td> 
                 <td><button id="disabled-btn" type="button" (click)="save_Comments_rca(testdata.Bug_ID,testdata.Bug_RCA_Categeory.label,testdata.How_bug_was_found,testdata.kosher_scenario)" pButton label="Save"></button></td>
            </tr>
        </ng-template>
    </p-table>
   
  
   
    
 

</div>
</div>